*{
  border: 1px transparent solid;
  font-family: 'monaco',  monospace; 
}
.nav{
  background-color: #E3C7B1; 
  padding: 20px 40px; 
  position: fixed; 
  top: 0; left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-sizing: border-box;
}
.navlogo{
    width:fit-content;
    float:left;
}
.logo{ 
  height: 100px; 
  width:fit-content;
}
.navlinks{
    display:flex;
    float:right;
    position:relative;
    right:170px;
    top:35px;
    justify-content: center;
    gap:60px; 
}
.links{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.happy{ 
    float:right;
    position:relative;
    left:310px;
    height:100px; 
    width:100px;
}
h1{
    position: relative;
    top: 150px;
}